.posts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    flex-wrap: wrap;
    width: 100%;
}

.posts .post {
    list-style: none;
    box-shadow: 0px 0px 2px lightgray;
}

.posts .post .post--image {
}

.posts .post .post--details {
    padding: 1rem;
}

.posts .post .post--actions {
    padding: 1rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.posts .post .post--actions .btn {
    color: white;
    padding: 0.8rem 1.2rem;
    background-color: lightskyblue;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.posts .post .post--actions .btn__delete {
    background-color: #eb5757;
}