.control {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.control label {
    font-size: 0.8rem;
    font-weight: 600;
}

.control input {
    padding: 1rem 0.7rem;
    border: 1px solid rgba(155, 162, 255, 1);
    border-radius: 5px;
    outline-color: lightskyblue;
}

/* Error Styles */
.control.invalid input {
    border: 1px solid #eb5757;
}

.control .error {
    color: #eb5757;
    font-size: 0.8rem;
    margin-top: -3px;
}